# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build / dist
dist/
out/
build/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Electron specific
*.asar
